/* You can add global styles to this file, and also import other style files */
.global_backgroud {
  background-color: #F0F8FF;
}

.ligth-blue-background {
  background-color: #8080FF;
}

.wind-box-bg-color {
  background-color: #D0D0FF;
}

.temp-box-bg-color {
  background-color: #DECFF8;
}

.press-box-bg-color {
  background-color: #94E8E8;
}